 <div class="wearhackevents row">

            <div class="project-wrapper col-sm-3">
                <a href="#" class="overlay">
                <div class="event" style="background-image:url(/images/strasbourg.jpg)">
                  <div class="photo" ></div>
                 
                   <div class="info" style="padding-top:25px">
                     <span> Strasbourg<br/>
                      April 2015  </span>
                    </div>
                     
                </div>
                </a>
               
            </div>
            <div class="project-wrapper col-sm-3">
                <a href="http://vancouver.wearhacks.com" class="overlay">
                <div class="event" style="background-image:url(uploads/SLV-Bg-Shangri-La-Hotel-Vancouver-v4-440x321-24817.jpg)">
                  <div class="photo" ></div>
                 
                   <div class="info" style="padding-top:25px">
                     <span> Vancouver<br/>
                      April 2015  </span>
                    </div>
                     
                </div>
                </a>
               
            </div>

            <div class="project-wrapper col-sm-3">
                <a href="http://toronto.wearhacks.com" class="overlay">
                <div class="event" style="background-image:url(uploads/toronto.jpg)">
                  <div class="photo" ></div>
                 
                   <div class="info">
                     <span> Toronto<br/>
                      May 8th-10th 2015 </span>
                    </div>
                     
                </div>
                </a>
               
            </div>
            
            <div class="project-wrapper col-sm-3">
                <!--<a href="http://toronto.wearhacks.com" class="overlay">-->
                <div class="event" style="background-image:url(images/paris.jpeg)">
                  <div class="photo" ></div>
                 
                   <div class="info">
                     <span> Paris <br/>
                      May 22nd - 24th 2015</span>
                    </div>
                     
                </div>
                <!--</a>-->
               
            </div>
           
          
 </div>

 <div class="wearhackevents row">
            <div class="project-wrapper col-sm-3">
                <!--<a href="http://toronto.wearhacks.com" class="overlay">-->
                <div class="event" style="background-image:url(uploads/montreal.jpg)">
                  <div class="photo" ></div>
                 
                   <div class="info" style="padding-top:25px">
                     <span> Montreal <br/>
                     Fall 2015 </span>
                    </div>
                     
                </div>
                <!--</a>-->
               
            </div>

            <div class="project-wrapper col-sm-3">
                <a href="http://berlin.wearhacks.com" class="overlay">
                <div class="event" style="background-image:url(uploads/toronto.jpg)">
                  <div class="photo" ></div>
                 
                   <div class="info">
                     <span> Berlin<br/>
                      June 2015</span>
                    </div>
                     
                </div>
                </a>
               
            </div>
            
            <div class="project-wrapper col-sm-3">
                <!--<a href="http://toronto.wearhacks.com" class="overlay">-->
                <div class="event" style="background-image:url(images/munich.jpg)">
                  <div class="photo" ></div>
                 
                   <div class="info">
                     <span> Munich <br/>
                      July 2015 </span>
                    </div>
                     
                </div>
                <!--</a>-->
               
            </div>
             <div class="project-wrapper col-sm-3">
                <!--<a href="http://toronto.wearhacks.com" class="overlay">-->
                <div class="event" style="background-image:url(uploads/montreal.jpg)">
                  <div class="photo" ></div>
                 
                   <div class="info" style="padding-top:25px">
                     <span> Los Angeles <br/>
                     Summer 2015 </span>
                    </div>
                     
                </div>
                <!--</a>-->
               
            </div>
          
 </div>

  <div class="wearhackevents row">
            <div class="project-wrapper col-sm-3">
                <!--<a href="http://toronto.wearhacks.com" class="overlay">-->
                <div class="event" style="background-image:url(uploads/newyork.jpg)">
                  <div class="photo" ></div>
                 
                   <div class="info" style="padding-top:25px">
                     <span> New York City <br/>
                     Fall 2015 </span>
                    </div>
                     
                </div>
                <!--</a>-->
               
            </div>

            <div class="project-wrapper col-sm-3">
                <a href="http://berlin.wearhacks.com" class="overlay">
                <div class="event" style="background-image:url(uploads/illinois.jpg)">
                  <div class="photo" ></div>
                 
                   <div class="info">
                     <span> Illinois<br/>
                      Fall 2015</span>
                    </div>
                     
                </div>
                </a>
               
            </div>
            
            <div class="project-wrapper col-sm-3">
                <!--<a href="http://toronto.wearhacks.com" class="overlay">-->
                <div class="event" style="background-image:url(images/seattle.jpg)">
                  <div class="photo" ></div>
                 
                   <div class="info">
                     <span> Seattle <br/>
                      TBD </span>
                    </div>
                     
                </div>
                <!--</a>-->
               
            </div>
             <div class="project-wrapper col-sm-3">
                <!--<a href="http://toronto.wearhacks.com" class="overlay">-->
                <div class="event" style="background-image:url(uploads/sunnyvale.JPG)">
                  <div class="photo" ></div>
                 
                   <div class="info" style="padding-top:25px">
                     <span> Sunnyvale <br/>
                     TBD </span>
                    </div>
                     
                </div>
                <!--</a>-->
               
            </div>
          
 </div>