 <div class="wearhackevents row">

            <div class="project-wrapper col-sm-3">
                <a href="http://hackinghealth.camp/" class="overlay">
                <div class="event" style="background-image:url(/images/strasbourg.jpg)">
                  <div class="photo" ></div>

                   <div class="info" >
                     <div> Strasbourg</div>
                     <div class="sub"> March 19th-22nd 2015 </div>
                    </div>

                </div>
                </a>

            </div>

            <div class="project-wrapper col-sm-3">
                <a href="https://wearhackstoronto.splashthat.com/" class="overlay">
                <div class="event" style="background-image:url(uploads/toronto.jpg)">
                  <div class="photo" ></div>

                   <div class="info">
                     <div> Toronto</div> <div class="sub">
                      May 8th-10th 2015 </div>
                    </div>

                </div>
                </a>

            </div>

            <div class="project-wrapper col-sm-3">
                <a href="https://wearhacksparis.splashthat.com" class="overlay">
                <div class="event" style="background-image:url(images/paris.jpeg)">
                  <div class="photo" ></div>

                   <div class="info">
                     <div> Paris </div> <div class="sub">
                      May 22nd-24th 2015</div>
                    </div>

                </div>
                </a>

            </div>

            <div class="project-wrapper col-sm-3">
                 <a class="overlay">
                 <div class="event" style="background-image:url(uploads/SLV-Bg-Shangri-La-Hotel-Vancouver-v4-440x321-24817.jpg)">
                   <div class="photo" ></div>

                    <div class="info" >
                      <div> Vancouver</div> <div class="sub">
                       September 2015  </div>
                     </div>


               </div>
               </a>

           </div>






 </div>

 <div class="wearhackevents row">

              <div class="project-wrapper col-sm-3">
                <!--<a  class="overlay">-->
                <div class="event" style="background-image:url(uploads/montreal.jpg)">
                  <div class="photo" ></div>

                   <div class="info" >
                     <div> Los Angeles </div>
                     <div class="sub"> November 2015 </div>
                    </div>

                </div>
                <!--</a>-->

            </div>

            <div class="project-wrapper col-sm-3">
               <!--<a  class="overlay">-->
               <div class="event" style="background-image:url(images/berlin.jpg)">
                 <div class="photo" ></div>

                  <div class="info">
                    <div> Berlin </div>
                    <div class="sub"> TBD </div>
                   </div>

               </div>
               <!--</a>-->

           </div>


           <div class="project-wrapper col-sm-3">
                <!--<a  class="overlay">-->
                <div class="event" style="background-image:url(uploads/montreal.jpg)">
                  <div class="photo" ></div>

                   <div class="info" >
                     <div> Montreal </div> <div class="sub">
                     September 25th-27th 2015 </div>
                    </div>

                </div>
                <!--</a>-->

            </div>

            <div class="project-wrapper col-sm-3">
                <!--<a  class="overlay">-->
                <div class="event" style="background-image:url(/images/newyork.jpg)">
                  <div class="photo" ></div>

                   <div class="info" >
                     <div> New York City </div> <div class="sub">
                     October 2nd-4th 2015</div>
                    </div>

                </div>
                <!--</a>-->

            </div>



 </div>

  <div class="wearhackevents row">

          <div class="project-wrapper col-sm-3">
               <a class="overlay">
               <div class="event" style="background-image:url(uploads/Miami-city-skyline.jpg)">
                 <div class="photo" ></div>

                  <div class="info" >
                    <div> Miami </div> <div class="sub">
                     November 2015  </div>
                   </div>

               </div>
               </a>
           </div>


          <div class="project-wrapper col-sm-3">
               <!--<a href="" class="overlay">-->
               <div class="event" style="background-image:url(images/kingston.jpg)">
                 <div class="photo" ></div>

                  <div class="info" >
                    <div> Kingston </div> <div class="sub">
                    November 13th-15th 2015 </div>
                   </div>

               </div>
               <!--</a>-->

           </div>


            <div class="project-wrapper col-sm-3">
                <!--<a href="http://berlin.wearhacks.com" class="overlay">-->
                <div class="event" style="background-image:url(/images/illinois.jpg)">
                  <div class="photo" ></div>

                   <div class="info">
                     <div> Urbana-Champaign</div> <div class="sub">
                      TBD</div>
                    </div>

                </div>
                <!--</a>-->

            </div>



            <div class="project-wrapper col-sm-3">
                <!--<a  class="overlay">-->
                <div class="event" style="background-image:url(images/seattle.jpg)">
                  <div class="photo" ></div>

                   <div class="info">
                     <div> Seattle </div> <div class="sub">
                      TBD </div>
                    </div>

                </div>
                <!--</a>-->

            </div>


 </div>
