 <div class="wearhackevents row">

            <div class="project-wrapper col-sm-3">
                <a href="#" class="overlay">
                <div class="event" style="background-image:url(/images/strasbourg.jpg)">
                  <div class="photo" ></div>
                 
                   <div class="info" >
                     <div> Strasbourg</div> <div class="sub">
                      April 2015  </div>
                    </div>
                     
                </div>
                </a>
               
            </div>
            <div class="project-wrapper col-sm-3">
                <a href="http://vancouver.wearhacks.com" class="overlay">
                <div class="event" style="background-image:url(uploads/SLV-Bg-Shangri-La-Hotel-Vancouver-v4-440x321-24817.jpg)">
                  <div class="photo" ></div>
                 
                   <div class="info" >
                     <div> Vancouver</div> <div class="sub">
                      April 2015  </div>
                    </div>
                     
                </div>
                </a>
               
            </div>

            <div class="project-wrapper col-sm-3">
                <a href="http://toronto.wearhacks.com" class="overlay">
                <div class="event" style="background-image:url(uploads/toronto.jpg)">
                  <div class="photo" ></div>
                 
                   <div class="info">
                     <div> Toronto</div> <div class="sub">
                      May 8th-10th 2015 </div>
                    </div>
                     
                </div>
                </a>
               
            </div>
            
            <div class="project-wrapper col-sm-3">
                <!--<a href="http://toronto.wearhacks.com" class="overlay">-->
                <div class="event" style="background-image:url(images/paris.jpeg)">
                  <div class="photo" ></div>
                 
                   <div class="info">
                     <div> Paris </div> <div class="sub">
                      May 22nd - 24th 2015</div>
                    </div>
                     
                </div>
                <!--</a>-->
               
            </div>
           
          
 </div>

 <div class="wearhackevents row">
            <div class="project-wrapper col-sm-3">
                <!--<a href="http://toronto.wearhacks.com" class="overlay">-->
                <div class="event" style="background-image:url(uploads/montreal.jpg)">
                  <div class="photo" ></div>
                 
                   <div class="info" >
                     <div> Montreal </div> <div class="sub">
                     Fall 2015 </div>
                    </div>
                     
                </div>
                <!--</a>-->
               
            </div>

            <div class="project-wrapper col-sm-3">
                <a href="http://berlin.wearhacks.com" class="overlay">
                <div class="event" style="background-image:url(uploads/toronto.jpg)">
                  <div class="photo" ></div>
                 
                   <div class="info">
                     <div> Berlin</div> <div class="sub">
                      June 2015</div>
                    </div>
                     
                </div>
                </a>
               
            </div>
            
            <div class="project-wrapper col-sm-3">
                <!--<a href="http://toronto.wearhacks.com" class="overlay">-->
                <div class="event" style="background-image:url(images/munich.jpg)">
                  <div class="photo" ></div>
                 
                   <div class="info">
                     <div> Munich </div> <div class="sub">
                      July 2015 </div>
                    </div>
                     
                </div>
                <!--</a>-->
               
            </div>
             <div class="project-wrapper col-sm-3">
                <!--<a href="http://toronto.wearhacks.com" class="overlay">-->
                <div class="event" style="background-image:url(uploads/montreal.jpg)">
                  <div class="photo" ></div>
                 
                   <div class="info" >
                     <div> Los Angeles </div> <div class="sub">
                     Summer 2015 </div>
                    </div>
                     
                </div>
                <!--</a>-->
               
            </div>
          
 </div>

  <div class="wearhackevents row">
            <div class="project-wrapper col-sm-3">
                <!--<a href="http://toronto.wearhacks.com" class="overlay">-->
                <div class="event" style="background-image:url(/images/newyork.jpg)">
                  <div class="photo" ></div>
                 
                   <div class="info" >
                     <div> New York City </div> <div class="sub">
                     Fall 2015 </div>
                    </div>
                     
                </div>
                <!--</a>-->
               
            </div>

            <div class="project-wrapper col-sm-3">
                <!--<a href="http://berlin.wearhacks.com" class="overlay">-->
                <div class="event" style="background-image:url(/images/illinois.jpg)">
                  <div class="photo" ></div>
                 
                   <div class="info">
                     <div> Illinois</div> <div class="sub">
                      Fall 2015</div>
                    </div>
                     
                </div>
                </a>
               
            </div>
            
            <div class="project-wrapper col-sm-3">
                <!--<a href="http://toronto.wearhacks.com" class="overlay">-->
                <div class="event" style="background-image:url(images/seattle.jpg)">
                  <div class="photo" ></div>
                 
                   <div class="info">
                     <div> Seattle </div> <div class="sub">
                      TBD </div>
                    </div>
                     
                </div>
                <!--</a>-->
               
            </div>
             <div class="project-wrapper col-sm-3">
                <!--<a href="http://toronto.wearhacks.com" class="overlay">-->
                <div class="event" style="background-image:url(images/sunnyvale.jpg)">
                  <div class="photo" ></div>
                 
                   <div class="info" >
                     <div> Sunnyvale </div> <div class="sub">
                     TBD </div>
                    </div>
                     
                </div>
                <!--</a>-->
               
            </div>
          
 </div>