<ul class="partners-list">

<li class="partner-item-singularity" itemtype="http://schema.org/Organization"><a href="http://www.hackinghealth.ca/" class="partner-link" itemprop="url" target="_blank"><img src="images/sponsors/HH-Logo-vertcial-B-Red.png" alt="Hacking Health" class="sponsor-logo" itemprop="image"></a></li>

</ul>