<ul class="partners-list">
<li class="partner-item-singularity" itemtype="http://schema.org/Organization">
  <a href="http://www.softlayer.com/" class="partner-link" itemprop="url" target="_blank">
    <img src="images/sponsors/softlayer-logo1.png" alt="SoftLayer" class="sponsor-logo" itemprop="image">
  </a>
</li>


</ul>
