
<ul class="partners-list">

   <li class="partner-item-optimus" itemtype="http://schema.org/Organization"><a href="https://www.thalmic.com/en/myo/" class="partner-link" itemprop="url" target="_blank"><img src="images/sponsors/thalmic_labs_logo.jpg" alt="Thalmic Labs" class="sponsor-logo" itemprop="image"></a></li>
   <li class="partner-item-optimus" itemtype="http://schema.org/Organization"><a href="https://www.spark.io/" class="partner-link" itemprop="url" target="_blank"><img src="images/sponsors/spark.png" alt="Spark" class="sponsor-logo" itemprop="image"></a></li>
   <li class="partner-item-t1000" itemtype="http://schema.org/Organization"><a href="https://www.mbientlab.com/" class="partner-link" itemprop="url" target="_blank"><img src="images/sponsors/mbient-logo.png" alt="Mbient Lab" class="sponsor-logo" itemprop="image"></a></li>
   <li class="partner-item-t1000" itemtype="http://schema.org/Organization"><a href="http://estimote.com/" class="partner-link" itemprop="url" target="_blank"><img src="images/sponsors/estimote-logo.png" alt="Estimote" class="sponsor-logo" itemprop="image"></a></li>
   <li class="partner-item-t1000" itemtype="http://schema.org/Organization"><a href="https://www.hellonod.com/" class="partner-link" itemprop="url" target="_blank"><img src="images/sponsors/NodLogo1.png" alt="Nod" class="sponsor-logo" itemprop="image"></a></li>


</ul>
