<ul class="partners-list">
   <li class="partner-item-t1000" itemtype="http://schema.org/Organization"><a href="https://allseenalliance.org/" class="partner-link" itemprop="url" target="_blank"><img src="images/sponsors/allseen_alliance_logo.jpg" alt="AllSeen Alliance" class="sponsor-logo-custom" itemprop="image"></a></li>
</ul>