<ul class="partners-list">
   <li class="partner-item-optimus" itemtype="http://schema.org/Organization">
      <a href="http://www.intel.com/" class="partner-link" itemprop="url" target="_blank">
      <img src="images/sponsors/Intel-logo.png" alt="Intel" class="sponsor-logo" itemprop="image">
      </a>
   </li>
   <li class="partner-item-t1000" itemtype="http://schema.org/Organization"><a href="http://cloudexchange.io/" class="partner-link" itemprop="url" target="_blank"><img src="images/sponsors/cloudexchange_logo.png" alt="CloudExchange.io" class="sponsor-logo" itemprop="image"></a></li>
   <li class="partner-item-walle" itemtype="http://schema.org/Organization"><a href="http://www.wearewearables.com/" class="partner-link" itemprop="url" target="_blank"><img src="images/sponsors/we_are_wearables.png" alt="We Are Wearables" class="sponsor-logo" itemprop="image"></a></li>
   <li class="partner-item-walle" itemtype="http://schema.org/Organization"><a href="http://context.reelyactive.com/technology.html" class="partner-link" itemprop="url" target="_blank"><img src="images/sponsors/reelyActive-Logo-1600.png" alt="reelyActive" class="sponsor-logo" itemprop="image"></a></li>
  <li class="partner-item-walle" itemtype="http://schema.org/Organization"><a href="http://www.hackinghealth.ca/" class="partner-link" itemprop="url" target="_blank"><img src="images/sponsors/HH-Logo-vertcial-B-Red.png" alt="Hacking Health" class="sponsor-logo" itemprop="image"></a></li>
</ul>
