<ul class="partners-list">
   <li class="partner-item-optimus" itemtype="http://schema.org/Organization">
      <a href="http://www.morganstanley.com/" class="partner-link" itemprop="url" target="_blank">
      <img src="images/sponsors/ms.jpg" alt="Morgan Stanley" class="sponsor-logo" itemprop="image">
      </a>
   </li>
   <li class="partner-item-optimus" itemtype="http://schema.org/Organization">
      <a href="http://www.haivision.com/about-us/careers " class="partner-link" itemprop="url" target="_blank">
      <img src="images/sponsors/haivision_logo.png" alt="Haivision" class="sponsor-logo" itemprop="image"></a>
   </li>
   <li class="partner-item-t1000" itemtype="http://schema.org/Organization"><a href="https://www.thalmic.com/en/myo/" class="partner-link" itemprop="url" target="_blank"><img src="images/sponsors/thalmic_labs_logo.jpg" alt="Thalmic Labs" class="sponsor-logo" itemprop="image"></a>
   </li>
   <li class="partner-item-t1000" itemtype="http://schema.org/Organization"><a href="http://www.lacommune.ca/index.php/en/" class="partner-link" itemprop="url" target="_blank"><img src="images/sponsors/LaCommunelogo.png" alt="La Commune" class="sponsor-logo" itemprop="image"></a></li>
   <li class="partner-item-t1000" itemtype="http://schema.org/Organization"><a href="http://estimote.com/" class="partner-link" itemprop="url" target="_blank"><img src="images/sponsors/estimote-logo.png" alt="Estimote" class="sponsor-logo" itemprop="image"></a></li>
   <li class="partner-item-r2d2" itemtype="http://schema.org/Organization"><a href="http://www.freshmint.com/" class="partner-link" itemprop="url" target="_blank"><img src="images/sponsors/freshmint.jpg" alt="FreshMint" class="sponsor-logo" itemprop="image"></a></li>
   <li class="partner-item-r2d2" itemtype="http://schema.org/Organization"><a href="https://www.google.ca/intl/en/about/" class="partner-link" itemprop="url" target="_blank"><img src="images/sponsors/google.png" alt="Google" class="sponsor-logo" itemprop="image"></a></li>
   <li class="partner-item-r2d2" itemtype="http://schema.org/Organization"><a href="http://www.datastax.com/" class="partner-link" itemprop="url" target="_blank"><img src="images/sponsors/datastax_logo.png" alt="Datastax" class="sponsor-logo" itemprop="image"></a></li>
   <li class="partner-item-r2d2" itemtype="http://schema.org/Organization"><a href="https://www.hellonod.com/" class="partner-link" itemprop="url" target="_blank"><img src="images/sponsors/NodLogo1.png" alt="Nod" class="sponsor-logo" itemprop="image"></a></li>
   <li class="partner-item-walle" itemtype="http://schema.org/Organization"><a href="http://heddoko.com/" class="partner-link" itemprop="url" target="_blank"><img src="images/sponsors/Heddoko.png" alt="Heddoko" class="sponsor-logo" itemprop="image"></a></li>
   <li class="partner-item-walle" itemtype="http://schema.org/Organization"><a href="http://www.choosemuse.com/" class="partner-link" itemprop="url" target="_blank"><img src="images/sponsors/muse.jpg" alt="Muse" class="sponsor-logo" itemprop="image"></a></li>
   <li class="partner-item-walle" itemtype="http://schema.org/Organization"><a href="http://devicefactory.com/" class="partner-link" itemprop="url" target="_blank"><img src="images/sponsors/df-logo-solid-black-white.png" alt="Device Factory" class="sponsor-logo" itemprop="image"></a></li>
   <li class="partner-item-walle" itemtype="http://schema.org/Organization"><a href="https://www.mbientlab.com/" class="partner-link" itemprop="url" target="_blank"><img src="images/sponsors/mbient-logo.png" alt="Mbient Lab" class="sponsor-logo" itemprop="image"></a></li>
   <li class="partner-item-walle" itemtype="http://schema.org/Organization"><a href="http://backtrackwear.com" class="partner-link" itemprop="url" target="_blank"><img src="images/sponsors/backtrack.png" alt="BackTrack" class="sponsor-logo" itemprop="image"></a></li>
   <li class="partner-item-walle" itemtype="http://schema.org/Organization"><a href="http://hardwareguild.com" class="partner-link" itemprop="url" target="_blank"><img src="images/sponsors/hardwareguild-logo-black-L.jpg" alt="Hardware Guild" class="sponsor-logo" itemprop="image"></a></li>
   <li class="partner-item-walle" itemtype="http://schema.org/Organization"><a href="http://www.getneptune.com/" class="partner-link" itemprop="url" target="_blank"><img src="images/sponsors/neptune.png" alt="Neptune" class="sponsor-logo" itemprop="image"></a></li>
   <li class="partner-item-walle" itemtype="http://schema.org/Organization"><a href="http://protoexchange.com/" class="partner-link" itemprop="url" target="_blank"><img src="images/sponsors/ProtoExchange_Logo_Blue.png" alt="ProtoExchange" class="sponsor-logo" itemprop="image"></a></li>
   <li class="partner-item-walle" itemtype="http://schema.org/Organization"><a href="http://context.reelyactive.com/technology.html" class="partner-link" itemprop="url" target="_blank"><img src="images/sponsors/reelyActive-Logo-1600.png" alt="reelyActive" class="sponsor-logo" itemprop="image"></a></li>
   <li class="partner-item-walle" itemtype="http://schema.org/Organization"><a href="http://www.vrvana.com/" class="partner-link" itemprop="url" target="_blank"><img src="images/sponsors/Vrvana_logo.png" alt="VRVANA" class="sponsor-logo" itemprop="image"></a></li>
   <li class="partner-item-lowest" itemtype="http://schema.org/Organization"><a href="http://www.wearewearables.com/" class="partner-link" itemprop="url" target="_blank"><img src="images/sponsors/we_are_wearables.png" alt="We Are Wearables" class="sponsor-logo" itemprop="image"></a></li>
   <li class="partner-item-lowest" itemtype="http://schema.org/Organization"><a href="http://tandemlaunch.com/" class="partner-link" itemprop="url" target="_blank"><img src="images/sponsors/tandem.png" alt="Tandem Launch" class="sponsor-logo" itemprop="image"></a></li>
   <li class="partner-item-lowest" itemtype="http://schema.org/Organization"><a href="http://realventures.com/en/" class="partner-link" itemprop="url" target="_blank"><img src="images/sponsors/Real_Ventures_logo.png" alt="Real Ventures" class="sponsor-logo" itemprop="image"></a></li>
</ul>