<!--modal team-->


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <section class="crew-2">
        
          <h5 style="text-align:center"></span>The people who make it possible.</span>
          </h5>
          <hr/>
          <div class="members">
            <div class="member-wrapper">
              <div class="member">
                <div class="photo-wrapper">
                  <div class="photo" style="background-image: url(/images/ari.jpeg); background-size: 200px 200px;">
                    
                  </div>
                  <div class="name">Ari Ramdial</div>
                  <div class="position">Co-founder</div>
                </div>
                <div class="info">
                  
                  <div class="social-btns">
                    <a href="https://ca.linkedin.com/in/ariramdial">
                      <div class="fui-linkedin"></div>
                      <div class="fui-linkedin"></div>
                    </a>
                    <a href="https://www.facebook.com/ariramdial">
                      <div class="fui-facebook"></div>
                      <div class="fui-facebook"></div>
                    </a>
                    <a href="https://twitter.com/ariramdial">
                      <div class="fui-twitter"></div>
                      <div class="fui-twitter"></div>
                    </a>
                    <a href="https://github.com/turbosnail9/">
                      <div class="fui-github"></div>
                      <div class="fui-github"></div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="member-wrapper">
              <div class="member">
                <div class="photo-wrapper">
                  <div class="photo" style="background-image: url(/images/shehaaz.jpeg); background-size: 200px 200px;">
                    
                  </div>
                  <div class="name">Shehaaz Saif</div>
                  <div class="position">Co-founder</div>
                </div>
                <div class="info">
                  
                  <div class="social-btns">
                    <a href="https://www.linkedin.com/in/shehaazsaif">
                      <div class="fui-linkedin"></div>
                      <div class="fui-linkedin"></div>
                    </a>
                    <a href="https://www.facebook.com/shehaz.saif">
                      <div class="fui-facebook"></div>
                      <div class="fui-facebook"></div>
                    </a>
                    <a href="https://twitter.com/Shehaaz">
                      <div class="fui-twitter"></div>
                      <div class="fui-twitter"></div>
                    </a>
                    <a href="https://github.com/shehaaz">
                      <div class="fui-github"></div>
                      <div class="fui-github"></div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="member-wrapper">
              <div class="member">
                <div class="photo-wrapper">
                  <div class="photo" style="background-image: url(/images/gisele.jpeg); background-size: 200px 200px;">
                    
                  </div>
                  <div class="name">Gisele I. Karekezi</div>
                  <div class="position">Director: Public Relations</div>
                </div>
                <div class="info">
                  
                  <div class="social-btns">
                    <a href="https://www.linkedin.com/pub/gisele-i-karekezi/89/3a7/a32">
                      <div class="fui-linkedin"></div>
                      <div class="fui-linkedin"></div>
                    </a>
                    <a href="https://www.facebook.com/gisele.karekezi">
                      <div class="fui-facebook"></div>
                      <div class="fui-facebook"></div>
                    </a>
                    <a href="https://twitter.com/GiseleIKarekezi">
                      <div class="fui-twitter"></div>
                      <div class="fui-twitter"></div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="members">
            <div class="member-wrapper">
              <div class="member">
                <div class="photo-wrapper">
                  <div class="photo" style="background-image: url(/images/ellie.jpeg); background-size: 200px 200px;">
                    
                  </div>
                  <div class="name">Elizabeth Flannery</div>
                  <div class="position">Director: Fund Development</div>
                </div>
                <div class="info">
                  
                  <div class="social-btns">
                    <a href="https://www.linkedin.com/in/ellieflannery">
                      <div class="fui-linkedin"></div>
                      <div class="fui-linkedin"></div>
                    </a>
                    <a href="https://www.facebook.com/elizabeth.flannery/">
                      <div class="fui-facebook"></div>
                      <div class="fui-facebook"></div>
                    </a>
                    <a href="https://twitter.com/EKFlannery">
                      <div class="fui-twitter"></div>
                      <div class="fui-twitter"></div>
                    </a>
                    <a href="https://github.com/eflannery">
                      <div class="fui-github"></div>
                      <div class="fui-github"></div>
                    </a>
                  </div>
                </div>
              </div>
              </div>
            <div class="member-wrapper">
              <div class="member">
                <div class="photo-wrapper">
                  <div class="photo" style="background-image: url(/images/griselda.jpg); background-size: 200px 200px;">
                    
                  </div>
                  <div class="name">Griselda Pages</div>
                  <div class="position">Marketing Lead</div>
                </div>
                <div class="info">
                  
                  <div class="social-btns">
                    <a href="https://www.linkedin.com/in/pagesruizgriselda/en">
                      <div class="fui-linkedin"></div>
                      <div class="fui-linkedin"></div>
                    </a>
                    <a href="https://www.facebook.com/profile.php?id=100006373146146&fref=ts">
                      <div class="fui-facebook"></div>
                      <div class="fui-facebook"></div>
                    </a>
                    <a href="https://twitter.com/griselda_pages">
                      <div class="fui-twitter"></div>
                      <div class="fui-twitter"></div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
               <div class="member-wrapper">
              <div class="member">
                <div class="photo-wrapper">
                  <div class="photo" style="background-image: url(/images/nadim.jpg); background-size: 200px 200px;">
                    
                  </div>
                  <div class="name">Nadim Islam</div>
                  <div class="position">Technical Director</div>
                </div>
                <div class="info">
                  
                  <div class="social-btns">
                    <a href="https://www.linkedin.com/pub/nadim-islam/24/864/17a">
                      <div class="fui-linkedin"></div>
                      <div class="fui-linkedin"></div>
                    </a>
                    <a href="https://www.facebook.com/isl.nadim">
                      <div class="fui-facebook"></div>
                      <div class="fui-facebook"></div>
                    </a>
                    <a href="https://twitter.com/nadimisl">
                      <div class="fui-twitter"></div>
                      <div class="fui-twitter"></div>
                    </a>
                    <a href="https://github.com/nadbm/">
                      <div class="fui-github"></div>
                      <div class="fui-github"></div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="members">
            <div class="member-wrapper">
              <div class="member">
                <div class="photo-wrapper">
                  <div class="photo" style="background-image: url(/images/eddie.jpg); background-size: 200px 200px;">
                    
                  </div>
                  <div class="name">Edmund Weekse</div>
                  <div class="position">Partnership Coordinator </div>
                </div>
                <div class="info">
                  
                  <div class="social-btns">
                    <a href="https://www.linkedin.com/pub/edmund-weekse/8a/108/197">
                      <div class="fui-linkedin"></div>
                      <div class="fui-linkedin"></div>
                    </a>
                    <a href="https://www.facebook.com/eddie.weekse">
                      <div class="fui-facebook"></div>
                      <div class="fui-facebook"></div>
                    </a>
                    <a href="https://twitter.com/EdmundWeekse">
                      <div class="fui-twitter"></div>
                      <div class="fui-twitter"></div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="member-wrapper">
              <div class="member">
                <div class="photo-wrapper">
                  <div class="photo" style="background-image: url(/images/alex.png); background-size: 200px 200px;">
                    
                  </div>
                  <div class="name">Alexandra Lutchman</div>
                  <div class="position">Operations & Logistics</div>
                </div>
                <div class="info">
                  
                  <div class="social-btns">
                    <a href="https://www.linkedin.com/in/alexandrarlutchman">
                      <div class="fui-linkedin"></div>
                      <div class="fui-linkedin"></div>
                    </a>
                    <a href="https://www.facebook.com/lexii.rene">
                      <div class="fui-facebook"></div>
                      <div class="fui-facebook"></div>
                    </a>
                    <a href="https://twitter.com/LexiiRene">
                      <div class="fui-twitter"></div>
                      <div class="fui-twitter"></div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="member-wrapper">
              <div class="member">
                <div class="photo-wrapper">
                  <div class="photo" style="background-image: url(/images/tian.png); background-size: 200px 200px;">
                    
                  </div>
                  <div class="name">Tian Xiao</div>
                  <div class="position">Director of Finance</div>
                </div>
                <div class="info">
                  
                  <div class="social-btns">
                    <!-- <a href="">
                      <div class="fui-linkedin"></div>
                      <div class="fui-linkedin"></div>
                    </a> -->
                    <a href="https://www.facebook.com/tianyuxiao">
                      <div class="fui-facebook"></div>
                      <div class="fui-facebook"></div>
                    </a>
                    <!-- <a href="">
                      <div class="fui-twitter"></div>
                      <div class="fui-twitter"></div>
                    </a> -->
                  </div>
                </div>
              </div>
            </div>
         
          </div>
          <div class="members">
            <div class="member-wrapper"></div>
            <div class="member-wrapper">
              <div class="member">
                <div class="photo-wrapper">
                  <div class="photo" style="background-image: url(/images/usman.jpg); background-size: 200px 200px;">
                    
                  </div>
                  <div class="name">Usman Ehtesham</div>
                  <div class="position">WearHacks: Special Projects</div>
                </div>
                <div class="info">
                  
                  <div class="social-btns">
                    <a href="https://www.linkedin.com/pub/usman-ehtesham-gul/18/134/950">
                      <div class="fui-linkedin"></div>
                      <div class="fui-linkedin"></div>
                    </a>
                    <a href="https://www.facebook.com/usman.ehtesham">
                      <div class="fui-facebook"></div>
                      <div class="fui-facebook"></div>
                    </a>
                    <a href="https://twitter.com/uegul">
                      <div class="fui-twitter"></div>
                      <div class="fui-twitter"></div>
                    </a>
                    <a href="https://github.com/ueg1990">
                      <div class="fui-github"></div>
                      <div class="fui-github"></div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          <hr/>
        <!--/.container-->
      </section>
    </div>
  </div>
</div>