<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="startup/flat-ui/images/favicon.ico">
        
        <link rel="stylesheet" href="startup/flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="startup/flat-ui/css/flat-ui.css">
        <!-- Using only with Flat-UI (free)-->
        <link rel="stylesheet" href="startup/common-files/css/icon-font.css">
        <!-- end -->
        <link rel="stylesheet" href="startup/common-files/css/animations.css">
        <link rel="stylesheet" href="static/css/vancouverstyle.css">
        
        <title></title>
    </head>
        <body>
        <div class="page-wrapper">


 <section class="header-9-sub" style="background-color: #000000">
   <div class="background" style="background-image: url(http://wearhacks.nadimislam.com/wp-content/themes/startup/templates/startup-framework/build-wp/../../../../../uploads/2014/11/3366358893_88205ea3d9_o-2915x1799-28288.jpg); opacity: 0.61">
     &nbsp;
   </div>
   <div class="container">
     <div class="row">
       <div class="col-sm-6 col-sm-offset-3">
         <div class="hero-unit bordered">
           <p class="wide-text">WearHacks Vancouver</p>
         </div>
         <p class="wide-text text-warning">Spring 2015</p>
       </div>
     </div>
     
   </div>
 </section>

 <section class="content-13 subscribe-form bg-wet-asphalt">
   <div class="container">
     <div class="row">
       <form action="action">
         <div class="col-sm-8">
           <input type="text" placeholder="Enter your e-mail" spellcheck="false">
         </div>
         <div class="col-sm-4">
           <button class="btn btn-large btn-primary" type="submit">Stay up to date
           </button>
         </div>
       </form>
     </div>
   </div>
 </section>

            <!-- Placed at the end of the document so the pages load faster -->
            <script src="startup/common-files/js/jquery-1.10.2.min.js"></script>
            <script src="startup/common-files/js/jquery.bxslider.min.js"></script>
            <script src="startup/common-files/js/jquery.scrollTo-1.4.3.1-min.js"></script>
            <script src="startup/common-files/js/jquery.sharrre.min.js"></script>
            <script src="startup/flat-ui/js/bootstrap.min.js"></script>
            <script src="startup/common-files/js/masonry.pkgd.min.js"></script>
            <script src="startup/common-files/js/modernizr.custom.js"></script>
            <script src="startup/common-files/js/page-transitions.js"></script>
            <script src="startup/common-files/js/easing.min.js"></script>
            <script src="startup/common-files/js/jquery.svg.js"></script>
            <script src="startup/common-files/js/jquery.svganim.js"></script>
            <script src="startup/common-files/js/jquery.backgroundvideo.min.js"></script>
            <script src="startup/common-files/js/froogaloop.min.js"></script>
            <script src="startup/common-files/js/startup-kit.js"></script>
            <script src="startup/common-files/js/jquery.parallax.min.js"></script>
            <script src="js/custom.js"></script>
      <script> 
    

       
            </script>   
    </body>
</html>