@startup-basePath: "../../startup/";
@import '../../startup/flat-ui/less/variables.less';
@import '../../startup/flat-ui/less/mixins.less';
@import '../../startup/common-files/less/mixins.less';
@import '../../startup/common-files/less/common.less';
@import '../../startup/common-files/less/helper.less';
@import '../../startup/common-files/less/navbar.less';
@import '../../startup/ui-kit/ui-kit-header/less/header-2.less';
@import '../../startup/ui-kit/ui-kit-header/less/header-6.less';
@import '../../startup/ui-kit/ui-kit-header/less/header-10.less';
@import '../../startup/ui-kit/ui-kit-header/less/header-16.less';
@import '../../startup/ui-kit/ui-kit-content/less/content-23.less';
@import '../../startup/ui-kit/ui-kit-content/less/content-15.less';
@import '../../startup/ui-kit/ui-kit-content/less/content-13.less';
@import '../../startup/ui-kit/ui-kit-crew/less/crew-2.less';
@import '../../startup/ui-kit/ui-kit-projects/less/project-common.less';
@import '../../startup/ui-kit/ui-kit-projects/less/project-3.less';
@import '../../startup/ui-kit/ui-kit-projects/less/project-4.less';
@import '../../startup/ui-kit/ui-kit-footer/less/footer-7.less';
@import '../../startup/ui-kit/ui-kit-footer/less/footer-4.less';
@import '_partials_sponsors.less';


@base: #f938ab;
@wolf: #1e699c;
@logoblack:#3a3a3c;
//Century gothic 
html {
	font-size:62.5%;
}
h1 {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
}

h3,h2,h4 {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.3999996185303px;
}
h2 {
	font-size: 18px;
	text-align:center;
}
h5 {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	text-align: center;
	line-height: 20px;
}
h6 {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	text-align: center;

	line-height: 20px;
}
blockquote {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714302062988px;
}
p {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	color: @logoblack;
	font-size:14px;
}
//Some custom classes
.light-bg-link {
	padding:10px;
	background:rgba(0, 0, 0, 0.1);
}
.light-bg-link:hover {
	border: solid 1px rgba(255, 255, 255, 0.1);
	padding:9px;
}

.bg-wolf-blue {
	background-color: #246b9d;
}


/* header modification */

a{
	color:@wolf;
}
a:hover {
	color:mix(#fff, @wolf, 30%)
}
.wearhacks-header {
	color: white;
	background: @wolf;
	padding: 10px 4px 10px 4px;

	font-size: 20px;
	font-weight: 200;
	text-align:center;
}

.btn-wearhacks {
	color: #ffffff;
	background-color: @wolf;
	border-radius:0px;
}
#navigationbar {
	li.active {
		a{
		border-bottom: 4px solid @wolf;
		}
		
	}
	li a {
		color: @logoblack;
	}
}
.loaded .header-6 .navbar {
    @media (min-width: 768px) {
	top:20px;
	}
}
.navbar .navbar-toggle {
	color: black;
}
.content-15 {
	background-color: #F7F7F7;
	padding-bottom:20px;	
	padding-top:50px;
}
.header-6 .navbar .nav > li > a {
	font-weight:500;
}
.header-6-sub {
	padding-top:120px;
	.signup-form {
		margin-top:5%;
	}
	.leadcustom {
		font-size: 1.5rem;
		color: @logoblack;
		font-weight: 200;
	}
	.backgroundsplash { 
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		background:url(/images/splash.jpg) 50% 50% no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

	}
	.signup-form form {
		.form-control {
			width:70.0%;
			::-webkit-input-placeholder {
			    color:    #EEE;
			}
			:-moz-placeholder {
			    color:    #EEE;
			}
			::-moz-placeholder {
			    color:    #EEE;
			}
			:-ms-input-placeholder {
			    color:    #EEE;
			}
		}
		button {
				width:28%;
			}
		@media (max-width: 480px){ 
			.form-control {
				width:100%;
			}
			
			button {
				width:100%;
			}
		}
	}
	
}
.scroll-btn {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top:10px;
        text-align: center;
        > * {
            display: inline-block;
            .line-height(18px);
            .font(13px);
            .a-color(white, white);
            font-family: @font-family-demo;
            letter-spacing: 1px;
            &:hover, &:focus, &:active, &.active {
                .opacity(80);
            }
        }
        .mouse {
            position: relative;
            display: block;
            width: 24px;
            height: 36px;
            margin: 0 auto 20px;
            .box-sizing(border-box);
            border: 2px solid @wolf;
            border-radius: 23px;
            > * {
                position: absolute;
                display: block;
                top: 29%;
                left: 50%;
                width: 8px;
                height: 8px;
                margin: -4px 0 0 -4px;
                background: @wolf;
                border-radius: 50%;
                -webkit-animation: ani-mouse 4s linear infinite;
                -moz-animation: ani-mouse 4s linear infinite;
                animation: ani-mouse 4s linear infinite;
            }
        }
        @media (max-width: 480px) {
            bottom: 41px;
        }
    }

//About section
#about {
	h2 {
		font-size: 25px;
		padding-left:10px;
		margin-bottom:10px;
		border-left:5px solid white;
		color:white;
		opacity: 0.7;
	}
	.wolf {	
	   background: url(http://montreal.wearhacks.com/images/front-in-poa.png) no-repeat;
	   display:block;
		background-size: 90%;
		padding-bottom: 53.125%;
		margin: 3.75rem auto;
	}
	p {
		text-align: center;
		text-justify: inter-word;
		-moz-text-align-last: center;
		text-align-last: right;
		color: #666667;
		font-size: 16px;
	}
	@media (max-width: 768px){ 
		.seperator {
			display: none;
		}
	}
	.seperator {
			height: 146px;
		background: url(/images/seperator.png) center no-repeat;
	}
}

.logo {
  width: 45rem;
  max-width: 80%;
  margin: auto; }

.logo-link {
  display: block;
  padding-bottom: 85%;
  background: url(/images/front-in-poa.png) no-repeat;
  background-position: center;
  background-size: 70%; }
  @media screen and (min-width: 37.5rem) {
    .logo-link {
      margin:  auto;
      margin-top: 2.5rem} }
      


.customModal {
	margin-top: 50px;
	.modal-footer,.modal-header {
		text-align:center;
		border: none;
	}
	@media (min-width: 400px) {
			width: 400px;
		}
	.fui-cross {
		font-size: 70px;
    	color: @pomegranate;
	}
	.fui-check {
		font-size:70px;
		color:@emerald;
	}
}



//Fix navbar on iphone
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px)  {
  #homebar{ 
	  span{
	    font-size: 17px;
	    left: 0px;
	    font-weight: 600;
	    background-image: url(images/horizontallogo.png);
	  }
 	  img {
      	margin: -11px 3px 0 0;
      }
    }  
}

@media (max-width: 768px){
.loaded .header-6 .navbar {
	top: 20px;
	.social-btns {
		margin-right:10px;
		color:@logoblack;
		.social-holder {
			margin-left:5px;
		}
	}
	.social-btns > * > *:first-child {
		color:@logoblack;
	}
	
}
}
.main-title {
	margin-top:50px;
	margin-bottom:50px;

	h3 {
	font-size: 36px;
	font-weight: 300;
	text-align: center;
	border-bottom: 1px solid #F5F5F5;
	}


}
@media (max-width:480px) {
.main-title {
	margin-bottom: 40px;
}
}
#team {
	.members {
		width:80%;
		margin:auto;
	}
	@media (max-width: 768px) {

		.members {
			width:100%;
			
		}
		}
	.page-1 {
		
		.member {
			width:50%;
		}
	}
	.page-2,.page-3 {

		.member {
			width:33%;
		}
		@media (max-width: 768px) {

			.member {
			width:50%;
			.name {
				height:30px;
			}
			
			}
			.alone {
				width:100%;
			}
		}
	}
	
	.member {
		
		float:left;
	}
	.info {
		margin:auto;
	}
	.photo {
		background-image: url(/images/ari.jpeg);
		background-size: contain;
		height: 120px;
		width:120px;
		border-radius: 50%;
		background-repeat: no-repeat;
		margin:auto;
		margin-bottom: 17px;
	}
	.name {
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		color:@logoblack;
		margin-bottom:10px;
		height:60px;
	}
	.position {
		font-size: 11px;
		font-weight: 200;
		font-style: italic;
		text-align: center;
		margin-bottom:1rem;
	}

	.social-btns {
		text-align:center;
        white-space: nowrap;
        > * {
            display: inline-block;
            margin-left: 15px;
            .font(20px, @wolf);
            width: 20px;
            height: 25px;
            overflow: hidden;
            text-align: center;
            @media (max-width: 480px) {
                margin-top: 15px;
                margin-bottom: 7px;
                margin-left: 3px;
            }
            &:first-child {
                margin-left: 0;
            }
            > * {
                display: block;
                position: relative;
                top: 0;
                .transition(0.25s top);
                &:first-child {
                    color: mix(white,@wolf,40%);
                }
            }
            &:hover > * {
                top: -100%;
            }
        }
        .fui-twitter:first-child {
            margin-top: 2px;
        }
    }
}
.crew-2 {
	padding-top:50px;
	.members {
		width:67%;
		margin: auto;
		.member {
			width:190px;
			.photo {
				opacity:0.5;
			}
		}	
		.photo-wrapper {
		width: 190px;
		height: 190px;
		margin:auto;

		}
		.position {
			left:15px;
			right:initial;
			text-shadow: 1px 1px 7px black;
		}
		.name {
			left:15px;
			letter-spacing:0;
			bottom:32px;
			text-shadow: 1px 1px 7px black;
		}
	}

}
.crew-2 .members + .members .member {
	padding-top: 0; 
	border-top: 0;
}
//footer
.footer-4 .brand {
	font-size: 27px;
}
#successModal,#errorModal {
	.modal-title p {
		font-size: 15px;
		margin-top:10px;
	}	
} 	


.projects-4 {	
	
	.ambassador {
				text-align: center;
                margin-top: 48px;
                padding: 25px;

            .btnAmb {
            	font-size:2rem;
            	color: @logoblack;
            	border-radius: 6px;
            	border: 2px solid @wolf;
            	background-color: none;
            	padding: 10px 50px 10px 50px;
            }
            @media (max-width : 568px) {
            	.btnAmb {
            		font-size: 14px;
            	}
            }
            .btnAmb:hover {
            	background-color: @wolf;
            	color:white;

            }
	}

}

//Bottom signup bar
.content-13.subscribe-form {
		padding-top: 30px;
		padding-bottom: 30px;
		color: #a1a9b1;
}

//footer 

.footer-7:before {
		height:0px;
}
.footer-7 {
	padding-top:100px;
	.scroll-top {
		background-color: none;
		border-radius:50%;
		border:2px solid @wolf;
		width: 50px;
		height: 50px;
		font-size: 30px;
		padding-top: 10px;
		span { color:@wolf;}
		margin:auto;
		margin-top:8rem;

	}
	.scroll-top:hover {
		background-color: @wolf;
		border-radius:50%;
		border:2px solid @wolf;
		span { color:white;}
	}
	.social {
		
		font-size: 3.5rem;
		 list-style-type: none;
		 li{
		 	a {
		 	color:@wolf;

		 	}
		 	a:hover {
		 	color: mix(@wolf,white,90%);
		 	}
		 	float:left;
		 	width:33%;
		 }
	}

	ul, li { margin-left: 0; padding-left: 0; list-style-type: none }
}

//Wearhacks hackathon (about us)

.header-10-sub {
	.smallsep {
		width: 2rem;
		height: 0.6rem;
		background-color: white;
		margin: auto;
		border-radius: 4px;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.maindesc {
		padding-top:5rem;
		padding-bottom:5rem;
		color:white;
		line-height:25px;
	}
	ul, li { margin-left: 0; padding-left: 0; list-style-type: none }
	.unique li {
	width: 25%;
	float: left;
	padding: 2%;
	list-style-type:none;
	}
	h5{
	color:white;
	}

	.uniqueIcon {
		width: 100%;
		height: 50px;
		margin-bottom:5rem;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
	p {
	 font-size: 12px;
	 color:white;
	}
	.unique {
		padding-bottom:20px;
	}
	
}
@media (max-width : 568px) {
		.header-10-sub .unique li {
			width: 50%;
		}
		.header-10-sub .uniqueIcon {
			height:60px;
		}
	}
.mediabox {
	height: 70px;
	margin-left:10px;
	margin-right:10px;
	text-align: center;
	background: url(/images/cbcreport.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	background-position-y: 50%;
	background-color: white;
	opacity:0.8;
	margin-top:10px;
}
.mediaoverlay {
	opacity: 0;
	height: 100%;
	padding-top: 15%;
}
.mediaoverlay:hover {

	background-color:fade(@wolf,60%);
	opacity:1.0;
	-webkit-transition: background-color 500ms linear;
		    -moz-transition: background-color 500ms linear;
		    -o-transition: background-color 500ms linear;
		    -ms-transition: background-color 500ms linear;
		    transition: background-color 500ms linear;

}

.mediasection{
	ul, li { margin-left: 0; padding: 0; list-style-type: none }
	border-radius: 5%;
	 li {
		width:25%;
		float:left;

	}
	p {
		font-size:12px;
		text-align:center;
		font-weight:200;
		color:white;
	}

}

@media (max-width : 568px) {
.medias{
		li {
		width:50%;
		}
		.mediabox {
			margin-bottom:22px;
		}
		.mediaoverlay {
			
			opacity: 1.0;
			height: 100%;
			padding-top: 49%;
		}
		p {
			line-height:1;
			margin-top:2px;
		}
}
}

.bg-splash {
	background:url(/images/splash.jpg) 50% 50% no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}
//Montreal event
#pastevent{
	background:url(/images/splash.jpg) 50% 50% no-repeat;
	
.header{
	background: #085a78;
	color: white;
	text-align: center;
	padding: 20px;
}
.event-montreal {
			color:@logoblack;
			border-radius:20px;
			padding-top:20px;
			padding-bottom:20px;
			-webkit-transition: background-color 500ms linear;
		    -moz-transition: background-color 500ms linear;
		    -o-transition: background-color 500ms linear;
		    -ms-transition: background-color 500ms linear;
		    transition: background-color 500ms linear;

			.stats {
				margin: auto;
				width: 420px;
			}
			a {

				
				color:@logoblack;
			}
			
			.title {
				margin-top:2rem;
				margin-bottom:6rem;
				p{font-weight:100; }
			}
			.circle {
			border-radius: 50%;
			width: 90px;
			height: 90px;
			text-align: center;
			color: white;
			font-size: large;
			padding-top: 35px;
			margin-bottom: 10px;
			
			}
		.data {
			float: left;
			padding: 6px;
			text-align: center;
			font-weight: 200;
		}
		.description {
			margin-top:20px;
			margin-bottom:50px;
			p {
				font-weight:100; font-size:14px;
			}
		}
		@media only screen 
			and (min-device-width : 320px) 
			and (max-device-width : 568px){
				.stats {
				margin: auto;
				width: 243px;
				}
			}
		@media(max-width: 768px) {
		.stats {
		margin: auto;
				width: 217px;
		}
	}
	}
	}
//upcomingEvents
.wearhackevents{ 
	.event {
		height: 130px;
		background-size: 120%;
		background-position: 50%;
		background-repeat: no-repeat;
		margin-top: 1rem;
	}
	.info {
		margin-top:1rem;
		font-size: 2.5rem;
		font-weight: 200;
		color: white;
		height: 100%;
		text-align: center;
		padding-top: 30px;
		background-color: rgba(0,0,0,0.5);
		span {
			opacity:0.5;
		}
	}
	.sub {
		font-size: 1.5rem;
		font-weight:100;
	}
	.info:hover {
		background-color: rgba(0,0,0,0.0);
		
		-webkit-transition: background-color 500ms linear;
		    -moz-transition: background-color 500ms linear;
		    -o-transition: background-color 500ms linear;
		    -ms-transition: background-color 500ms linear;
		    transition: background-color 500ms linear;
	}
	.info:hover > span {
		opacity:1.0;
		transition:all 0.5s ease;
	}
	.event:hover {
		background-size: 100%;
		transition:all 0.5s ease;
	}
		

}

#contact{
text-align: center;

.logo {
	width:27rem;
}
#newsletterform {
	margin-top:20px;
		padding: 10px;
	background: white;
}
.signup-form button {
	float: left;
width: 23.5%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
margin: 0 0 0 2%;
font-size: 17px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
font-weight: 500;
}

   .signup-form {
        form {
            margin: 0 auto;
            padding: 17px;
            background: white;
            .form-control,
            button {
                float: left;
                width: 23.5%;
                .box-sizing(border-box);
                margin: 0 0 0 2%;
                font-size: 17px;

                .border-radius(0px);
                font-weight: 500;
                @media (max-width: 480px) {
                    width: 100%;
                    margin: 10px 0 0;
                    display: block;
                    float: none;
                }
                &:first-child {
                    margin: 0;
                }
            }
            .form-control {
            	width:70%;
                border-color: #dee1e3;
                font-weight: 500;
                color: @wet-asphalt;

                border: 1px solid #bdc3c7;
                .placeholder(#7f8c8d);
                &:focus {
                    border-color: #1e699c;
                }
            }
            button{
              width: 23.5%;
              margin-left: 2%;
              @media (max-width: 480px) {
                width: 100%;
                margin: 10px 0 0;
                display: block;
                float: none;
              }
            }
        }
    }
.signup-form form {

		.form-control {
			
		
			::-webkit-input-placeholder {
			    color:    #EEE;
			}
			:-moz-placeholder {
			    color:    #EEE;
			}
			::-moz-placeholder {
			    color:    #EEE;
			}
			:-ms-input-placeholder {
			    color:    #EEE;
			}
		}
		button {
				width:28%;
			}
		@media (max-width: 480px){ 
			.form-control {
				width:100%;
			}
			
			button {
				width:100%;
			}
		}
	}

	background:url(/images/splash.jpg) 50% 50% no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}

